body {
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}

.fullBody {
    margin: 0px auto;
    color: #484343;
    font-family: sans-serif;
    max-width: 900px;
    padding-left: 25px;
    padding-right: 25px;
}